results
package-lock.json
*node_modules*

cypress.local.config.js

*.mp4
*target*

.idea
*.iml

.vscode/

*cypress-image-diff-screenshots*
*cypress-image-diff-html-report*
**/downloads/

mochawesome-report
